/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
	--accent-color: #ff0070;
	--main-color: #000028;
	--main-text-color: #f1b2ce;
	--title-color: #db00ff;
	--title-section-color: var(--accent-color);
	--title-content: var(--main-color);
	--title-shadow: var(--accent-color);
	--border-color: rgba(255, 0, 112, 0.4);
	--corners-color: var(--accent-color);
	--link-shadow: var(--accent-color);
	--header-text-color: var(--main-color);
	--button-color: var(--accent-color);
	--bg-cover: url('../images/cover-image-dark.png');

	background-color: var(--main-color);
	background-image: var(--bg-cover);
}

.page.theme_dark .header__rec {
	display: flex;
}

@media (prefers-color-scheme: dark) {
	.page {
		--accent-color: #ff0070;
		--main-color: #000028;
		--main-text-color: #f1b2ce;
		--title-color: #db00ff;
		--title-section-color: var(--accent-color);
		--title-content: var(--main-color);
		--border-color: rgba(255, 0, 112, 0.4);
		--corners-color: var(--accent-color);
		--title-shadow: var(--accent-color);
		--link-shadow: var(--accent-color);
		--header-text-color: var(--main-color);
		--button-color: var(--accent-color);
		--bg-cover: url('../images/cover-image-dark.png');

		background-color: var(--main-color);
		background-image: var(--bg-cover);
	}
}